.sidebar {
    background-color: gray;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.sidebar hr {
    width: 95%;
}

.expand {
    width: 240px;
    transition: width 500ms
}

.contract {
    width: 60px;
}
